<div class="flex justify-center h-screen">
  <div class="hidden bg-cover lg:block lg:w-[55%] bg-primary">
    <div class="grid justify-center items-center h-full">
      <h2 class="text-[60px] text-center font-bold text-blue-dark">
        Vertex Insights
      </h2>
    </div>
  </div>

  <div class="grid items-center w-full max-w-md px-6 mx-auto lg:w-2/6">
    <div class="grid justify-items-center gap-4">
      <div class="mx-auto">
        <img
          class="w-auto h-9 sm:h-10 md:h-11 lg:h-12"
          src="../assets/images/proxima-logo.png"
        />
      </div>

      <div
        id="g_id_onload"
        data-client_id="90717503776-i729hbhjbvlajle7ia87srssplodlt8d.apps.googleusercontent.com"
        data-context="signin"
        data-ux_mode="popup"
        data-login_uri="http://localhost:3200"
        data-auto_prompt="false"
      ></div>

      <div
        class="g_id_signin"
        data-type="standard"
        data-shape="rectangular"
        data-theme="filled_blue"
        data-text="signin_with"
        data-size="large"
        data-logo_alignment="left"
      ></div>

      <p class="mt-6 text-sm text-center">
        Having problems logging in?
        <a href="mailto:hr@proximabiz.com" class="text-blue-light"
          >Contact Us</a
        >
      </p>
    </div>
  </div>
</div>